{% extends 'base.html.twig' %}

{% block title %}Añadir subdominio{% endblock %}

{% block body %}
<h1>Añadir Subdomain</h1>

{{ form_start(form) }}
    {{ form_row(form.domain) }} 
    {{ form_row(form.name) }}
    {{ form_row(form.isActive) }}
    {{ form_row(form.notes) }}
    <button type="submit" class="btn btn-primary">Añadir</button>
{{ form_end(form) }}

{% endblock %}

