{% extends 'base.html.twig' %}

{% block body %}

<section class="relative isolate bg-white px-9 lg:px-9 mb-12">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
    {{ form_start(form) }}
        {{ form_row(form.domain) }} 
        {{ form_row(form.name) }}
        {{ form_row(form.notes) }}
        <button type="submit" class="text-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
        focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">{{ '/editar-subdominio/' in app.request.getpathInfo() ?  'Editar' : 'Crear'}} subdominio</button>
    {{ form_end(form) }}

    <div class="relative overflow-x-auto w-fit">
        {% if '/editar-subdominio/' in app.request.getpathInfo() %}
        <a href="{{ path('front.v1.delete.subdomain', {'idSubdominio': app.request.attributes.get('idSubdominio')} ) }}" class="text-lg bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg 
            focus:ring-blue-500 focus:border-red-500 block p-2.5 dark:bg-red-700 dark:border-red-600 dark:placeholder-gray-400 
            dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500 mt-4">Borrar</a>
        {% endif %}
    </div>
   </div>
</section>
{% endblock %}