{% extends 'base.html.twig' %}

{% block title %}Editar subdominio{% endblock %}

{% block body %}
    <h1>Edit Subdomain</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.isActive) }}
        {{ form_row(form.notes) }}

        <h2>Records</h2>
        <div id="records-collection" data-prototype="{{ form_row(form.records.vars.prototype)|e('html') }}" data-index="{{ form.records.vars.index }}">
            {% for recordForm in form.records %}
                <div class="record-form">
                    {{ form_row(recordForm) }}
                    <button type="button" class="remove-record btn btn-danger">Remove</button>
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}


{% endblock %}
