{% extends 'base.html.twig' %}

{% block body %}
 
<section class="relative isolate overflow-hidden bg-white px-6 lg:px-8 mb-12">
    <div class="mx-auto max-w-3x2 lg:max-w-6xl">

    {% for message in app.flashes('success') %}
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-white" role="alert">
        <span class="font-medium">{{ message }}</span>  
    </div>
    {% endfor %}
    
    {% for message in app.flashes('error') %}
    <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span class="font-medium">{{ message }}</span>
        </div>
    </div>
    {% endfor %}

        <div class="relative overflow-x-auto">
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="hidden sm:table-header-group text-l text-white uppercase bg-gray-50 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="px-6 py-3">Nombre</th>
                            <th scope="col" class="px-6 py-3">Fecha de creación</th>
                            <th scope="col" class="px-6 py-3">Estado</th>
                            <th scope="col" class="px-6 py-3">Acciones</th>
                            <th scope="col" class="px-6 py-3">Notas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for li in data %}
                            <tr class="block sm:table-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                    <span class="sm:hidden font-bold">Nombre:</span> {{ li.name ~ '.' ~ li.getDomain().getName() }} 
                                </th>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                    <span class="sm:hidden font-bold">Fecha de creación:</span> {{ li.createdAt|date('d/m/Y H:i:s') }}
                                </td>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                    <span class="sm:hidden font-bold">Estado:</span> {{ 0 == li.IsActive ? 'Inactivo' : 'Activo' }}
                                </td>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                    <span class="sm:hidden font-bold">Acciones:</span>
                                    <a href="{{ path('front.v1.add.record.to.subdomain', {'idSubdominio': li.id}) }}">Editar DNS</a>
                                    <a href="{{ path('front.v1.edit.subdomain', {'idSubdominio': li.id} ) }}">Editar subdominio</a>
                                </td>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                    <span class="sm:hidden font-bold">Notas:</span> {{ li.notes }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}

