{% extends 'base.html.twig' %}

{% block body %}

{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<section class="relative isolate overflow-hidden bg-white px-6 lg:px-8 mb-12">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="hidden sm:table-header-group text-l text-white uppercase bg-gray-50 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="px-6 py-3">Nombre</th>
                            <th scope="col" class="px-6 py-3">Tipo</th>
                            <th scope="col" class="px-6 py-3">Valor</th>
                            <th scope="col" class="px-6 py-3">Ttl</th>
                             <th scope="col" class="px-6 py-3">Prioridad</th> 
                            <th scope="col" class="px-6 py-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in allRecords %}
                             <tr class="block sm:table-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                 <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                     <span class="sm:hidden font-bold">Nombre:</span>  {{ record.name }} 
                                </th>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                     <span class="sm:hidden font-bold">Tipo:</span>  {{ record.type }} 
                                </th>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                    <span class="sm:hidden font-bold">Valor:</span> {{ record.value }}
                                </td>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                   <span class="sm:hidden font-bold">Ttl:</span> {{ record.ttl }}
                                </td>                                
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                    <span class="sm:hidden font-bold">Prioridad:</span> {{ record.priority }}
                                </td>                                
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white block sm:table-cell">
                                     <a href="#">Borrar</a>
                                     <a href="#">Editar</a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_row(form.value) }}
        {{ form_row(form.ttl) }}
        {{ form_row(form.priority) }}
        <button type="submit" class="text-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">Crear Registro</button>
    {{ form_end(form) }}
   </div>
</section>
 
{% endblock %}

