{% extends 'base.html.twig' %}

{% block body %}

{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<section class="relative isolate overflow-hidden bg-white px-6 lg:px-8 mb-12">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.value) }}
    {{ form_row(form.ttl) }}
    {{ form_row(form.priority) }}
    <button type="submit" class="text-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">Actualizar registro</button>

{{ form_end(form) }}

<div class="relative overflow-x-auto w-fit">
    <a href="{{ path('front.v1.delete.record', {'idSubdominio': app.request.attributes.get('idSubdominio'), 'idRecord':app.request.attributes.get('idRecord')}) }}" class="text-lg bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg 
        focus:ring-blue-500 focus:border-red-500 block p-2.5 dark:bg-red-700 dark:border-red-600 dark:placeholder-gray-400 
        dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500 mt-4">Borrar</a>
</div>

   </div>
</section>

{% endblock %}

