{% extends 'base.html.twig' %}

{% block title %}Editar Registro{% endblock %}

{% block body %}

{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<h1>Editar Registro para el subdominio: {{ subdomain.name }}</h1>

{{ form_start(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.value) }}
    {{ form_row(form.ttl) }}
    {{ form_row(form.priority) }}
    <button type="submit" class="btn btn-primary">Actualizar registro</button>
{{ form_end(form) }}

<a href=" " class="btn btn-secondary">Ver todos los registros</a>

{% endblock %}

