<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              {% if app.user %}
              <a href="{{ path('front.v1.all.subdomain') }}" class="{{ app.request.attributes.get("_route") in ['panel','panel-new-local','panel-select-theme','panel-edit-information','panel-modify-config-local','panel-show-local', 'panel-select-theme', 'panel-new-menu', 'panel-edit-menu-and-show-products', 'panel-edit-product', 'panel-new-product', 'panel-new-product-alone', 'panel-edit-product-alone'] ? 'bg-gray-700': ''}} text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Panel</a>
              <a href="/cuenta" class="{{ app.request.attributes.get("_route") in ['cuenta-usuario', 'panel-confirm-delete-account-user'] ? 'bg-gray-700': ''}} text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Cuenta</a>
              <a href="{{ path('front.v1.user.logout') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Cerrar sesi贸n</a>
              {% else %}
              <a href="/registro" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Registro</a>
              <a href="/login" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Iniciar Sesi贸n</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
        {% if '/' != app.request.pathinfo %}
        <div class="md:hidden" id="mobile-menu">
      <div class="border-t border-gray-700 pb-3 pt-4">
        {% if app.user  %}
        <div class="flex items-center px-5">
          <div class="ml-3">
            <div class="text-sm font-medium leading-none text-gray-400">Hola {{ app.user.email }}</div>
          </div>
        </div>
        {% endif %}
        <div class="mt-3 space-y-1 px-2">
          {% if app.user  %}
            <a href="{{ path('front.v1.all.subdomain') }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white" aria-current="page">Panel</a>
            <a href="/cuenta" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Cuenta</a>
            <a href="{{ path('front.v1.user.logout') }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Cerrar sesi贸n</a>
          {% else %}
            <a href="/registro" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white" aria-current="page">Registro</a>
            <a href="/login" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white" aria-current="page">Iniciar Sesi贸n</a>
          {% endif %}
        </div>
      </div>
    </div>
    {%endif%}
  </nav>
  {% if '/' != app.request.pathinfo %}
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ title|default }}</h1>
    
        <nav class="flex mt-3" aria-label="Breadcrumb">
          <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
              <a href="{{ path('front.v1.all.subdomain') }}" class="inline-flex items-center text-sm font-medium text-black dark:text-black-400  ">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                </svg>
                Panel
              </a>
            </li>
            {% if 'front.v1.edit.record' == app.request.get('_route') or 'front.v1.add.record.to.subdomain' == app.request.get('_route') %}
              <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-black mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <a href="{{ path('front.v1.add.record.to.subdomain', {'idSubdominio' :app.request.attributes.get('idSubdominio') }) }}" class="ms-1 text-sm font-medium text-black-400 hover:text-black-600 md:ms-2 dark:text-black-400">DNS</a>
              </div>
            </li>
          {% endif %}

          </ol>
        </nav>

    </div>
  </header>
  {%endif%}
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    </div>
  </main>
</div>